.contact-card {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url(https://heistinn.com/static/image/layer.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    background-color: #ffffff;
    /* width: 82%; */
    margin-top: -190px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 70px;
}

.contact-table-content {
}

.contact-form .form-label {
    color: #404040;
}


.contact-table {
    display: flex;
    text-align: start;
    padding: 45px 80px;
}

.contact-table .form-label {
    color: #404040;
}

.contact-table #form-input:focus , #contact-number:focus, .contact-table #options:focus, .contact-table #form-msg:focus {
    border-color: #b3b3b3 !important;
    box-shadow: 0 0 5px 2px #b3b3b3 !important;
    outline: none !important; 
}

.contact-table #options{

    border: 4px solid #ced4da;
}

.contact-table #form-msg {
    margin-top: 0;
}

.contact-table-image {
    position: relative;
    padding: 120px 0px 0px 50px;
    width: 620px;
    animation: up-down 2s ease-in-out alternate infinite;   
}

.contact-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-map iframe {
    margin: 40px 0 70px 0;
    height: 530px;
    width: 1385px;
    border-radius: 10px;
}